.main_div{
    /* height: 100vh; */
    background:#242526;
    display: flex;
    justify-content: center;
    padding: 100px;
}
.main_forgot_password_div{
    border: 1px solid rgb(175, 173, 173);
    border-radius: 13px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 0px ;
}   
/* upper */
.forget_password_upper_div{
    display: flex;
    padding: 20px 10px;
    border-bottom: 1px solid  rgb(175, 173, 173);;
    align-items: center;
}
.forget_password_upper_div_button{
    width: 14%;
    border: 2px solid  rgb(175, 173, 173);;
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

}
.back_icon{
    margin-top: 5px;
}
.forget_password_upper_div_forgot_text{
    width: 100%;
    text-align: center;
    font-size: 24px;
}

/* bottom */
.forget_password_bottom_div{
    text-align: center;
    padding: 20px 90px;
}
.forget_password_bottom_form_div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background: yellow; */
    padding: 0px 50px;
    text-align: start;
    margin-top: 30px;
}
.forget_password_bottom_form_input{
    padding: 15px;
    width: 100%;
    background: transparent;
    border: 1px solid  rgb(175, 173, 173);;
    color: white;

}
.forget_password_bottom_form_send_link_button{
    width: 100%;
    padding: 15px;
    text-align: center;
    background: rgb(179,185,218);
    background: linear-gradient(131deg, rgba(179,185,218,1) 0%, rgba(28,73,219,1) 15%, rgba(11,64,236,1) 100%);
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
}